* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 120%;
    background: #f8f8ff;
}
.header {
    width: 30%;
    margin: 120px auto 0;
    color: white;
    background: #57b9bd;
    text-align: center;
    border: 1px solid #9fbee7;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
form,
.content {
    width: 30%;
    height: 60%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    border-radius: 0px 0px 10px 10px;
}
.input-group {
    margin: 15px 0px 15px 0px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 16px;
    color: white;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
    
}
.image {
    width: 30%;
    height: auto;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 30%;
}
.error {
    width: 92%;
    margin: 0px, auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    border-radius: 5px;
    text-align: justify;
}
.success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
.btn-logout{
    padding: 10px;
    font-size: 16px;
    color:slateblue;
    background: red;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 80%;

}
